/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet');
/* font-family: 'Cabin Sketch', cursive;
font-family: 'Work Sans', sans-serif; */

/* Main Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Work Sans", sans-serif;
  --secondary-font: "Work Sans", sans-serif;
  --body-font: "Work Sans", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

html {
  color: var(--body-font-color);
  font-family: var(--body-font);
  font-size: 10px;
  scroll-behavior: smooth;
}

section {
  padding: 4rem 0;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

.container {
  margin: 0 auto;
  padding: 0 2.5rem;
  max-width: 125rem;
  width: 100%;
}

/* Header */
header {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75),
    transparent
  );
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav {
  align-items: center;
  display: flex;
  height: 7.5rem;
  justify-content: center;
}

.menu-toggle {
  color: #ffffff;
  cursor: pointer;
  font-size: 2.5rem;
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1500;
}

i.fa-times {
  display: none;
}

.nav-list {
  background-color: var(--main-font-color-dark);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  left: 0;
  list-style: none;
  padding: 4.5rem;
  position: fixed;
  top: 0;
  transition: transform 0.5s;
  transform: translateX(-100%);
  width: 80%;
  z-index: 1250;
}

.nav::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: scale(0);
  transition: opacity 0.5s;
  width: 100vw;
  z-index: 1000;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.open .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.nav-link {
  color: #ffffff;
  display: block;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-right: -2px;
  text-transform: uppercase;
  transition: color 0.5s;
}

.nav-link:hover {
  color: var(--secondary-font-color);
}

/* Hero */
.hero {
  align-items: center;
  background: url("img/hero.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.sub-header {
  color: var(--main-font-color-dark);
  font-size: 8.5rem;
  font-family: "Cabin Sketch", cursive;
  letter-spacing: 2px;
  line-height: 1;
}

.first-letter {
  font-size: 10rem;
  text-transform: uppercase;
}

.headline {
  color: var(--main-font-color-dark);
  font-family: var(--main-font);
  font-size: 3rem;
  letter-spacing: 1rem;
  margin-right: -1rem;
  text-transform: uppercase;
}

.separate {
  align-items: center;
  display: flex;
  justify-content: center;
}

.line {
  background-color: #ffffff;
  height: 0.25rem;
  max-width: 8.5rem;
  margin: 3rem;
  position: relative;
  width: 100%;
}

.line-right::before,
.line-left::before {
  border: 0.5 solid transparent;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.line-right::before {
  border-right-color: #ffffff;
  right: 0;
}

.line-left::before {
  border-left-color: #ffffff;
  left: 0;
}

.asterisk {
  color: var(--secondary-font-color);
  font-size: 1.5rem;
  margin: 0 1.5rem;
}

.headline-description {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
  margin-right: -3px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  letter-spacing: 2px;
  margin-right: -2px;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.cta-btn {
  background-color: #ffffff;
  border-radius: 0.5rem;
  color: var(--main-font-color-dark);
  font-size: 1.5rem;
  transition: background-color 0.5s;
}

.cta-btn:hover,
.cta-btn:focus {
  background-color: var(--main-font-color-dark);
  color: #ffffff;
}

/*First Section */
.global-headline {
  margin-top: 4rem;
  text-align: center;
}

.gt-info .global-headline {
  margin-top: 7rem;
}

.global-headline .asterisk {
  color: var(--body-font-color);
  margin: 2.5rem 0;
}

.headline-dark {
  color: var(--body-font-color);
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
}

.global-headline .sub-header {
  letter-spacing: -0.5rem;
  line-height: 1;
}

.gt-info {
  text-align: center;
}

.gt-description {
  margin-bottom: 3rem;
}

.gt-description p {
  line-height: 2;
  margin-bottom: 2.5rem;
}

.body-btn {
  color: var(--secondary-font-color);
  font-size: 2rem;
  position: relative;
  transition: color 0.5s;
}

.body-btn::before {
  background-color: var(--secondary-font-color);
  bottom: -3px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: color 0.5s;
  width: 100%;
}

.body-btn:hover,
.body-btn:focus {
  color: var(--main-font-color-dark);
}

.body-btn:hover::before,
.body-btn:focus::before {
  background-color: var(--main-font-color-dark);
}

/* Section 2 */
.tips {
  background: url(img/bankhead.jpg) center no-repeat;
  background-size: cover;
}

.between {
  align-items: center;
  display: flex;
  min-height: 65vh;
}

/* Section 3 */
.image-group {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.locations .gt-description {
  margin-bottom: 0;
  padding-top: 3rem;
}

/* Section 4 */
