/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet');
/* font-family: 'Cabin Sketch', cursive;
font-family: 'Work Sans', sans-serif; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Work Sans", sans-serif;
  --secondary-font: "Work Sans", sans-serif;
  --body-font: "Work Sans", sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

html {
  color: var(--body-font-color);
  font-family: var(--body-font);
  font-size: 10px;
  scroll-behavior: smooth;
}

section {
  padding: 4rem 0;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}
